# Development
# MONGO_URL=mongodb://localhost:27017/dating-app
# Live
MONGO_URL= 

# BASE_URL=http://localhost:6060
BASE_URL=192.168.10.152
PORT=5070
SOCKET_PORT=9001
NODE_DEV=production
# NODE_DEV=development
BCRYPT_SALT_ROUNDS=12
JWT_SECRET='here-your-top-secret'
JWT_EXPIRES_IN=30d
JWT_REFRESH_SECRET='fghfy64786895703hfgjhjgh76867kfghfghfghfghfg4656hfghfghfgh'
JWT_REFRESH_EXPIRES_IN=365d

RESET_PASS_UI_LINK=http://localhost:3000/?
ACTIVATION_SECRET=346387678979809456

SMTP_HOST=mail.privateemail.com
SMTP_PORT=465
SMTP_SERVICE=gmail
smtp_mail=support@ansmusiclimited.com
SMTP_PASSWORD="GFDSH#423s"
SERVICE_NAME=Trading App
# BASE_URL=192.168.10.152

STRIPE_SECRET_KEY=sk_test_51Q69G2L8xn5o73J1VyQGm5n1BCnZ2U96tA0rzMRR8BUIZbIquNa8RucyyDJrJCjGgSwz1xuwZwyD9CPBFNBJOysF00fgBtMgy0